{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DataBaseDir": "D:\\example\\folder\\"
  },
  "ApiKeys": {
    "MyService": "api_key_here"
  }
}
